# Habilitar el motor de reescritura
RewriteEngine On

# Establecer directorio base
RewriteBase /Itaipu-intranet/

# No reescribir para archivos o directorios que ya existen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las peticiones de la API a app/api.php
RewriteRule ^api/(.*)$ app/api.php [L]
